# Vivado generated output
.Xil/
*.jou
*.log
*.str
*.pb
*.backup.*

kiber_test.cache/
kiber_test.gen/
kiber_test.hw/
kiber_test.ip_user_files/
kiber_test.runs/
kiber_test.sim/
xsim.dir/

# Common simulation/build output
*.wdb
*.vcd
*.fst
*.tmp

# OS/editor files
Thumbs.db
.DS_Store
